<ion-card>
  <ion-card-header>
    <ion-card-title>Componente ion-button</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-button expand="block" color="primary">
      Botón Principal
    </ion-button>

    <ion-button expand="block" color="success">
      Botón Aceptar
    </ion-button>

    <ion-button expand="block" color="danger">
      Botón Cancelar
    </ion-button>

    <ion-button expand="block" fill="outline">
      Botón con borde
    </ion-button>
  </ion-card-content>
</ion-card>
